<!DOCTYPE html>
<html lang="ko">
	<title>CUBRID Automation solution OWL</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<head>
		<meta charset="utf-8">
		<meta name="login"
		CUBRID Automation solution OWL <br><br>
	</head>
	<body>
		<nav>
			<div class="welcome_top_menu">
				<a href="#">OWL</a>
				<a href="/owl_dashboard">Dash Board</a>
				<a href="/owl_hosts">Hosts</a>
				<a href="/owl_statistics">Statistics</a>
				<a href="/mypage">Mypage</a>
			</div>
		</nav>
		<nav>
			<div class="owlSQL search">
				<input type="text" placeholder="Enter search term">
				<button>검색</button>
			</div>
		</nav>
		<nav>
			<div class="mypage">
				<a href="/mypage">Mypage</a>
			</div>
		</nav>
		<h1>CUBRID Hosts</h1>
		<ul>
			<li>GROUP</li>
			<li>TOTAL</li>
			<li>ON-line</li>
			<li>OFF-line</li>
			<li>none recently statistics</li>
		</ul>
	</body>
</html>